<div class="container">
    <h1>Cotización</h1>
  
    <!-- Botón de cerrar -->
    <div class="d-flex justify-content-end mb-3">
      <i 
        class="fas fa-times text-danger" 
        style="cursor: pointer; font-size: 1.5rem;" 
        (click)="navigateBack()">
      </i>
    </div>
  
    <!-- Formulario -->
    <div *ngIf="cotizacion">
      <div class="form-group">
        <label>Nombre:</label>
        <p>{{ cotizacion.nombre }}</p>
      </div>
  
      <div class="form-group">
        <label>Edad:</label>
        <p>{{ cotizacion.edad }}</p>
      </div>
  
      <div class="form-group">
        <label>Monto:</label>
        <p>{{ cotizacion.monto }}</p>
      </div>
  
      <div class="form-group">
        <label>Tipo de Persona:</label>
        <p>{{ cotizacion.tipo_persona }}</p>
      </div>
    </div>
  </div>
  