.flecha-regresar {
    margin-top: 2em;
    font-size: 30px; 
    color: #dc3545; 
    text-decoration: none;  
    cursor: pointer; 
    &:hover {
      color: #c82333; 
    }
  
    i {
      transition: color 0.3s ease;
    }
  }
  .table-container {
    margin: 20px;
  }
  
  .search-bar {
    position: relative;
    width: 100%;
    max-width: 400px;
  }
  
  .search-bar input {
    padding-right: 40px;
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #6c757d;
  }
  a {
    color: #007bff;
    text-decoration: underline;
  
    &:hover {
      color: #0056b3;
    }
  }
  
  .row.gap-2 {
    gap: 10px; /* Espacio entre inputs */
  }
  .custom-select {
    appearance: none; /* Quita el estilo por defecto */
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding-right: 30px; /* Espacio para la flecha */
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%236c757d" d="M2 5L0 0h4z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px 10px;
  }
  
  
  .custom-select:focus {
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  