<div class="mt-5">
    <div class="row">
      <div class="col-md-1 d-flex justify-content-start align-items-center">
        <a (click)="navigateBack()" class="flecha-regresar">
          <i class="fas fa-arrow-left"></i>
        </a>
      </div>
  </div>

  <div class="cards-container col">
    <div *ngFor="let fin of financierasArray" class="card" (click)="goToDocuments(fin.id)">
      <div class="first-content">
        <img [src]="fin.img" alt="{{fin.nombre}} Logo" class="card-image" />
      </div>
      <div class="second-content">
        <p class="card-text">
          {{fin.descripcion}}
        </p>
      </div>
    </div>
  </div>
  
  