<div class="container mt-5">
    <div class="row">
      <div class="col-md-1 d-flex justify-content-start align-items-center">
        <a (click)="navigateBack()" class="flecha-regresar">
          <i class="fas fa-arrow-left"></i>
        </a>
      </div>
  </div>

  <div class="cards-container">
    <div class="card">
      <div class="first-content">
        <img src="assets/konfio.jpeg" alt="Konfio Logo" class="card-image" />
      </div>
      <div class="second-content">
        <p class="card-text">
          Compra de mercancía, cubrir deuda del negocio, pagos a proveedores.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="first-content">
        <img src="assets/pdn.png" alt="PDN Logo" class="card-image" style="max-width: 90%; max-height: 90%;" />
      </div>
      <div class="second-content">
        <p class="card-text">
          Para adquisición de inmueble productivo con uso de suelo comercial, oficinas o industrial.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="first-content">
        <img src="assets/covalto.png" alt="PDN Logo" class="card-image" />
      </div>
      <div class="second-content">
        <p class="card-text">
          Para capital de trabajo, remodelación del negocio, crecimiento del negocio ,compra de bienes de capital, inventarios etc. sustitución de pasivos        
         </p>
      </div>
    </div>
    <div class="card">
      <div class="first-content">
        <img src="assets/anticipa.png" alt="Anticipa Logo" class="img-fluid" style="max-width: 90%; max-height: 90%;" />
      </div>
      <div class="second-content">
        <p class="card-text">
          Activos productivos / Transporte/ Maquinaria/ cómputo/ Equipo especializado / mobiliario
        </p>
      </div>
    </div>
    <div class="card">
      <div class="first-content ">
        <img src="assets/bx+.png" alt="PDN Logo" class="img-fluid" style="max-width: 90%; max-height: 90%; object-fit: contain;" />
      </div>
      <div class="second-content">
        <p class="card-text">
          Activos productivos / Transporte/ Maquinaria/ cómputo/ Equipo especializado / mobiliario
        </p>
      </div>
    </div>
    <div class="card">
      <div class="first-content ">
        <img src="assets/Ion.png" alt="PDN Logo" class="img-fluid" style="max-width: 90%; max-height: 90%; object-fit: contain;" />
      </div>
      <div class="second-content">
        <p class="card-text">
          Adquisición de inmuebles, Capital de trabajo, Financiamiento para expansión, financiamiento de proyectos de inversión productivos, Destino libre.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="first-content ">
        <img src="assets/heybanco.jpg" alt="PDN Logo" class="img-fluid" style="object-fit: cover; width: 98%; height: 98%;"/>
      </div>
      <div class="second-content">
        <p class="card-text">
          Capital de Trabajo, Adquisición de activos fijos, proyectos de inversión, pago de pasivos.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="first-content ">
        <img src="assets/activeleasing.jpeg" alt="PDN Logo" class="img-fluid" style="object-fit: cover; width: 95%; height: 95%;"/>
      </div>
      <div class="second-content">
        <p class="card-text">
          Compra de activos productivos  (bodegas industriales, oficinas, edificios, locales comerciales)
        </p>
      </div>
    </div>
    <div class="card">
      <div class="first-content ">
        <img src="assets/haycash.png" alt="PDN Logo" class="img-fluid" style="object-fit: cover; width: 95%; height: 95%;"/>
      </div>
      <div class="second-content">
        <p class="card-text">
          Capital de trabajo
          • Apertura de nuevas 
          sucursales
          • Compra de activo fijo
          • Remodelación
          • Publicidad & marketing
          • Y muchos más…
           </p>
      </div>
      <div class="card">
        <div class="first-content ">
          <img src="assets/finsus.png" alt="PDN Logo" class="img-fluid" style="object-fit: contain; width: 90%; height: 90%;"/>
        </div>
        <div class="second-content">
          <p class="card-text">
            Gobierno, giros negros, outsourcing nómina, combustibles y derivados, sindicatos, traslado de valores, sociedades de inversión, etc.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="first-content ">
          <img src="assets/finbeabc.png" alt="PDN Logo" class="img-fluid" style="object-fit: contain; width: 100%; height: 100%;"/>
        </div>
        <div class="second-content">
          <p class="card-text">
            Adquisición de activos fijos, Compra y/o remodelación de inmuebles, Construcción de bodegas y naves industriales, pago de pasivos.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="first-content ">
          <img src="assets/xepelin.jpeg" alt="PDN Logo" class="img-fluid" style="object-fit: contain; width: 95%; height: 95%;"/>
        </div>
        <div class="second-content">
          <p class="card-text">
            seguridad privada, despachos juridicos y contables, oputsourcing, aseguradoras, gobierno, mineria, gasolinerias, sofom, casas de apuestas
          </p>
        </div>
      </div>
      <div class="card">
        <div class="first-content ">
          <img src="assets/arrenda+.webp" alt="PDN Logo" class="img-fluid" style="object-fit: contain; width: 95%; height: 95%;"/>
        </div>
        <div class="second-content">
          <p class="card-text">
            SI ES PERSONA MORAL SIEMPRE SE NECESITARÁ UN AVAL PERSONA FÍSICA. EN EL CASO DE PFAE O PF SOLO SE NECESITARÁ AVAL SI EL PROSPECTO NO CUENTA CON EXPOSICIÓN DE BURÓ DE CRÉDITO.
          </p>
        </div>
      </div>
  </div>
</div>


  
  
  
  