<div class="mt-5">
    <div class="row">
      <div class="col-md-1 d-flex justify-content-start align-items-center">
        <a (click)="navigateBack()" class="flecha-regresar">
          <i class="fas fa-arrow-left"></i>
        </a>
      </div>
  </div>

  <div class="cards-container col">
    <div *ngFor="let fin of financierasArray" class="card" (click)="goToDocuments(fin.id)" >
      <div class="first-content">
        <img src="assets/konfio.jpeg" alt="Konfio Logo" class="card-image" />
      </div>
      <div class="second-content">
        <p class="card-text">
          {{fin.descripcion}}
          Compra de mercancía, cubrir deuda del negocio, pagos a proveedores.
        </p>
      </div>
    </div>
    <!-- DE AQUI PARA ABAJO SE VA A BORRAR -->
    <div class="card">
      <div class="first-content">
        <img src="assets/pdn.png" alt="PDN Logo" class="card-image" style="max-width: 90%; max-height: 90%;" />
      </div>
      <div class="second-content">
        <p class="card-text">
          Para adquisición de inmueble productivo con uso de suelo comercial, oficinas o industrial.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="first-content">
        <img src="assets/covalto.png" alt="Covalto Logo" class="card-image" />
      </div>
      <div class="second-content">
        <p class="card-text">
          Para capital de trabajo, remodelación del negocio, crecimiento del negocio, compra de bienes de capital, inventarios, sustitución de pasivos.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="first-content">
        <img src="assets/anticipa.png" alt="Anticipa Logo" class="img-fluid" style="max-width: 90%; max-height: 90%;" />
      </div>
      <div class="second-content">
        <p class="card-text">
          Activos productivos / Transporte / Maquinaria / Cómputo / Equipo especializado / Mobiliario
        </p>
      </div>
    </div>
    <div class="card">
      <div class="first-content">
        <img src="assets/bx+.png" alt="BX+ Logo" class="img-fluid" style="max-width: 90%; max-height: 90%; object-fit: contain;" />
      </div>
      <div class="second-content">
        <p class="card-text">
          Activos productivos / Transporte / Maquinaria / Cómputo / Equipo especializado / Mobiliario
        </p>
      </div>
    </div>
    <div class="card">
      <div class="first-content">
        <img src="assets/Ion.png" alt="Ion Logo" class="img-fluid" style="max-width: 90%; max-height: 90%; object-fit: contain;" />
      </div>
      <div class="second-content">
        <p class="card-text">
          Adquisición de inmuebles, Capital de trabajo, Financiamiento para expansión, financiamiento de proyectos de inversión productivos, Destino libre.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="first-content">
        <img src="assets/heybanco.jpg" alt="Hey Banco Logo" class="img-fluid" style="object-fit: cover; width: 98%; height: 98%;" />
      </div>
      <div class="second-content">
        <p class="card-text">
          Capital de Trabajo, Adquisición de activos fijos, proyectos de inversión, pago de pasivos.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="first-content">
        <img src="assets/activeleasing.jpeg" alt="Active Leasing Logo" class="img-fluid" style="object-fit: cover; width: 95%; height: 95%;" />
      </div>
      <div class="second-content">
        <p class="card-text">
          Compra de activos productivos (bodegas industriales, oficinas, edificios, locales comerciales).
        </p>
      </div>
    </div>
    <div class="card">
      <div class="first-content">
        <img src="assets/haycash.png" alt="Hay Cash Logo" class="img-fluid" style="object-fit: cover; width: 95%; height: 95%;" />
      </div>
      <div class="second-content">
        <p class="card-text">
          Capital de trabajo, Apertura de nuevas sucursales, Compra de activo fijo, Remodelación, Publicidad & marketing, y muchos más.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="first-content">
        <img src="assets/finsus.png" alt="Finsus Logo" class="img-fluid" style="object-fit: contain; width: 90%; height: 90%;" />
      </div>
      <div class="second-content">
        <p class="card-text">
          Gobierno, giros negros, outsourcing nómina, combustibles y derivados, sindicatos, traslado de valores, sociedades de inversión, etc.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="first-content">
        <img src="assets/finbeabc.png" alt="Finbeabc Logo" class="img-fluid" style="object-fit: contain; width: 100%; height: 100%;" />
      </div>
      <div class="second-content">
        <p class="card-text">
          Adquisición de activos fijos, Compra y/o remodelación de inmuebles, Construcción de bodegas y naves industriales, pago de pasivos.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="first-content">
        <img src="assets/xepelin.jpeg" alt="Xepelin Logo" class="img-fluid" style="object-fit: contain; width: 95%; height: 95%;" />
      </div>
      <div class="second-content">
        <p class="card-text">
          Seguridad privada, despachos jurídicos y contables, outsourcing, aseguradoras, gobierno, minería, gasolinerías, sofom, casas de apuestas.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="first-content">
        <img src="assets/arrenda+.webp" alt="Arrenda+ Logo" class="img-fluid" style="object-fit: contain; width: 95%; height: 95%;" />
      </div>
      <div class="second-content">
        <p class="card-text">
          Si es persona moral siempre se necesitará un aval persona física. En el caso de PFAE o PF solo se necesitará aval si el prospecto no cuenta con exposición de buró de crédito.
        </p>
      </div>
    </div>
  </div>
  


  
  
  
  