.viabilidad {
    padding: 1rem;
    border-radius: 15px;
    border: #6495ED solid 3px;
    background-color: #eaf1fd;
    width: 96%;
    margin: auto;
}
.docs {
    padding: 1rem;
    width: 96%;
    margin: auto;
}
.boton-enviar {
    margin-bottom: 1rem;
}
.desc-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 10px; /* Espacio entre 'más' y la descripción */
  }
  
  .desc-summary {
    cursor: pointer;
    color: #007bff; /* Azul tipo enlace */
    font-weight: 300; /* Fuente delgada */
    text-decoration: none; /* Sin subrayado */
  }
  
  .desc-summary:hover {
    color: #0056b3; /* Azul más oscuro en hover */
  }
  
  .desc-text {
    display: none; /* Oculta la descripción por defecto */
    font-size: 0.9rem;
    color: #6c757d; /* Gris tenue */
    font-weight: 300; /* Fuente delgada */
  }
  
  .desc-wrapper.active .desc-text {
    display: inline; /* Muestra la descripción cuando está activo */
  }
  