.viabilidad {
    padding: 1rem;
    border-radius: 15px;
    border: #6495ED solid 3px;
    background-color: #eaf1fd;
    width: 96%;
    margin: auto;
}
.docs {
    padding: 1rem;
    width: 96%;
    margin: auto;
}

.desc-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 10px; 
  }
  
  .desc-summary {
    cursor: pointer;
    color: #007bff; 
    font-weight: 300; 
    text-decoration: none;
  }
  
  .desc-summary:hover {
    color: #0056b3; 
  }
  
  .desc-text {
    display: none; 
    font-size: 0.9rem;
    color: #6c757d; 
    font-weight: 300; 
  }
  
  .desc-wrapper.active .desc-text {
    display: inline;
  }
  .file-exist {
    color: green;
  }