.flecha-regresar {
    margin-top: 2em;
    font-size: 30px; 
    color: #dc3545; 
    text-decoration: none;  
    cursor: pointer; 
    &:hover {
      color: #c82333; 
    }
  
    i {
      transition: color 0.3s ease;
    }
  }
  .container{
    margin-top: 3em;
  }
  .form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .input-wrapper {
    position: relative;
    display: flex;
  }
  
  .persona-check {
    grid-column: span 2;
  }
  
  .persona-check label {
    font-size: 1rem;
    margin-right: 20px;
  }
  
  .persona-check input {
    margin-right: 5px;
  }
 
  .input-group-text {
    font-size: 1.2rem;
  }
  
  .input-group input {
    padding-left: 1.5rem;
  }
/* Eliminar el padding extra para todos los inputs dentro de un input-group */
.input-group input {
  padding-left: 8px; /* Ajusta el padding aquí */
}

input {
  padding: 8px;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

  
  

  