<div class="container">
  <div class="d-flex align-items-center custom-header">
    <app-back-arrow rutaBack="instituciones"></app-back-arrow>
    <h3 class="titulo">{{nameFin.toUpperCase()}} - <span class="product-title">{{nameProd}}</span></h3>
  </div>
  
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Pefil del Cliente
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit sunt, illo eius consectetur quaerat velit iste quasi ratione nemo exercitationem praesentium fuga eum beatae non molestiae, cum inventore eaque quibusdam.
        </div>
      </div>
      </div>
      
      
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Documentación requerida
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <img src="assets/konfio.png" alt="konfio" class="img-fluid mb-3">
          <div class="text-center">
            <button (click)="descargarPDF('assets/heybanco.pdf', 'heybanco.pdf')" class="btn btn-primary mt-3">Descargar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Formatos Descargables
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <iframe src="assets/heybanco.pdf" width="100%" height="500px" class="mb-3"></iframe>
          <div class="text-center">
            <button (click)="descargarPDF('assets/heybanco.pdf', 'heybanco.pdf')" class="btn btn-primary mt-3">Descargar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
<div class="mt-4">
    <h2 class="text-center">Formulario de Financiamiento</h2>
    <form (ngSubmit)="enviarFormulario(formularioForm)" #formularioForm="ngForm">
    <div class="tipo-persona d-flex justify-content-evenly mb-4">

        <div class="form-check">
          <input class="form-check-input" [(ngModel)]="cotizacion.tipo_persona" value="f" type="radio" name="tipoPersona" id="personaFisica" checked>
          <label class="form-check-label" for="personaFisica">
            Persona Física
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" [(ngModel)]="cotizacion.tipo_persona" value="m" type="radio" name="tipoPersona" id="personaMoral">
          <label class="form-check-label" for="personaMoral">
            Persona Moral
          </label>
        </div>
    </div>
        
    <div class="row mb-4">
      <div class="col-md-6">
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input class="form-control" id="nombre" name="nombre" [(ngModel)]="cotizacion.nombre" (keypress)="onlyText($event)" required>
        </div>

        <div class="form-group">
          <label for="monto">Monto:</label>
          <div class="input-group">
            <span class="input-group-text">$</span>
            <input class="form-control" id="monto" name="monto" mask="separator.2" thousandSeparator=","
              [(ngModel)]="cotizacion.monto" (keypress)="onlyNumbers($event)" required>
          </div>
        </div>

        <div class="form-group">
          <label for="antiguedad-empresa">Antigüedad de la Empresa (en años):</label>
          <input class="form-control" id="antiguedad-empresa" name="antiguedadEmpresa" [(ngModel)]="cotizacion.antiguedadEmpresa" (keypress)="onlyNumbers($event)" required>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="edad">Edad:</label>
          <input class="form-control" id="edad" name="edad" [(ngModel)]="cotizacion.edad" (keypress)="onlyNumbers($event)" required>
        </div>
        <div class="form-group">
          <label for="plazo">Plazo (en meses):</label>
          <select class="form-control" id="plazo" name="plazo" [(ngModel)]="cotizacion.plazo" required>
            <option *ngFor="let plazo of plazos" [value]="plazo">{{ plazo }}</option>
          </select>
        </div>
        

        <div class="form-group">
          <label for="ingresos">Ingresos Mensuales:</label>
          <div class="input-group">
            <span class="input-group-text">$</span>
            <input class="form-control" id="ingresos" name="ingresos" mask="separator.2" thousandSeparator=","
             [(ngModel)]="cotizacion.ingresos" (keypress)="onlyNumbers($event)" required>
          </div>
        </div>
        <div class="form-group">
          <label for="rfc">RFC:</label>
          <div class="input-group">
            <input class="form-control" id="rfc" name="rfc"[(ngModel)]="cotizacion.rfc" required>
          </div>
        </div>
      </div>
    </div>
  
      <div *ngIf="mostrarError && formularioForm.invalid" class="error">
        Todos los campos son obligatorios para continuar.
      </div>
    </form>
        <div *ngIf="docProcess" class="accordion" id="accordionDocs">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingDocs">
              <button class="accordion-button custom-collapse" [ngClass]="{ 'collapsed': !isExpanded }"
               type="button" data-bs-target="#collapseDocs" [attr.aria-expanded]="false" aria-controls="collapseDocs"
               (click)="toggleAccordion()">
                Carga de documentos
              </button>
            </h2>
            <div id="collapseDocs" class="accordion-collapse collapse" [ngClass]="{ 'show': isExpanded }"
              aria-labelledby="headingDocs" data-bs-parent="#accordionDocs">
              <div class="accordion-body-custom">
                <app-form-docs [request]="cotizacion" [isNew]=true (messageEmitter)="mostrarErrorFunc($event)"></app-form-docs>
              </div>
            </div>
          </div> 
        </div>
        <div class="form-group text-center mb-4">
          <a *ngIf="!docProcess" type="button" class="btn btn-primary btn-sm btn-block mt-3" target="_blank" [href]="urlFin">Enviar y Continuar con link</a>
          <!-- <button type="submit" class="btn btn-primary btn-lg btn-sm d-block d-sm-inline-block" (click)="enviarFormulario(formularioForm)">
            Enviar
          </button> -->
        </div>
</div>
   
<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': formularioEnviado}" [attr.aria-hidden]="formularioEnviado ? 'true' : null" #emptyFilesModal>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
         <h5 class="modal-title">¡Gracias!</h5>
      </div>
      <div class="modal-body text-center">
         <p>Cotización enviada con éxito.</p>
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-secondary" (click)="cerrarModal(formularioForm)">Cerrar</button>
       </div>
    </div>
  </div>
</div>
